---

substitutions:
  framework: arduino

esphome:
  name: ${devicename}
  friendly_name: ${upper_devicename}

${platform}:
  board: ${board}
  framework:
    type: ${framework}

# Enable Home Assistant API
api:
  encryption:
    key: ${api_encryption_key}

ota:
  - platform: esphome
    password: ${ota_pass}
  



# Example configuration entry
text_sensor:
  - platform: version
    name: "ESPHome Version"

...
